<div class="container_chat_global">
    <h2>Mi chat</h2>
    <div class="container_chat">
        <div>
            <div class="chat">
                <form id="data_user">
                    <input id="email" type="text" name="email" placeholder="Ingresa tu email">
                    <input id="alias" type="text" name="alias" placeholder="Ingresa tu alias">
                    <input id="nombre" type="text" name="nombre" placeholder="Ingresa tu nombre">
                    <input id="apellido" type="text" name="apellido" placeholder="Ingresa tu apellido">
                    <input id="edad" type="number" name="edad" placeholder="Ingresa tu edad">
                    <input id="avatar" type="text" name="avatar" placeholder="Ingresa tu url de tu avatar">
                    <input id="mensaje" type="text" name="message" placeholder="Ingresa tu mensaje">
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <p id="parrafo"></p>
        </div>
    </div>
</div>
</div >
<script>

    let form_data_user = document.getElementById("data_user");
    form_data_user.addEventListener("submit", e =>{
        e.preventDefault();
        let student = {
            email: e.target[0].value,
            alias: e.target[1].value,
            nombre: e.target[2].value,
            apellido: e.target[3].value,
            edad: e.target[4].value,
            avatar: e.target[5].value,
            mensaje: e.target[6].value,
        }
        if(student.email == "" || student.user == "" || student.message == "") window.location.reload();
        socket.emit("from_front", student);
    })

    socket.on("fill_message", result =>{
        console.log(result, 'soy result')
        fill_message(result);
    });

    socket.on("error", data =>{
        alert(data);
    });

    socket.on("init", data =>{
        if(data.length > 0 ){
            //fill_message(data.students);
            fill_users(data.users);
        }
    });

    function fill_message(data){
        let sms_html = ``;
        for (const post of data) {
            console.log(post, 'soy message')
            sms_html += `<b>${post.author[0].alias}:</b> <span>${post.posts.mensajes[0].mensajes}</span> <i>${post.author[0].nombre}</i><br>`;
        }
        parrafo.innerHTML = sms_html;
    }
    function fill_users(data){
        let sms_html = ``;
        for (const sms of data) {
            sms_html += `<li>
                            <span class="${sms.state}"></span> <h6>${sms.user}</h6>
                        </li>`;
        }
        user_list.innerHTML = sms_html;
    }
</script>